*.done
*.summary
*.rpt
*.pof
*.sof
*.bak
*.jpg
*.html
*.qws
*.smsg
*.qdf
*.jdi
*.pin
*.hex
db/*
incremental_db/*
no-need/*
simulation/*
undo_redo.txt
*.work
*.nes
serv_req_info.txt
