*.done
*.summary
*.rpt
*.pof
*.sof
*.bak
*.jpg
*.html
*.qws
*.smsg
*.qdf
*.jdi
*.pin
db/*
incremental_db/*
no-need/*
output_files/*
simulation/*
greybox_tmp/*
undo_redo.txt
*.work
*.nes
serv_req_info.txt

