cmp.sh
file1
file2
famicon-controller.jpg
motonesemu
dummy-driver.sh
dummy-driver
vga-pipe
vgadisp
testbench_apu
testbench_ppu
testbench_status_reg
testbench_decoder
testbench_address_decoder
testbench_mos6502
testbench_cpu_timing
testbench
testbench_prg_rom
testbench_ram
testbench_motones_sim
testbench_clock_divider

*.hier
*.cf
*.sav
*.o
*.vcd
*.bk
*.nes
*.nes-*
*.bin
*.log*
*.fst

ghdl-dir
vga-port

bl.sh
switch-rom.sh
make-vcd.sh
aa*
bbb
bbbb
ccc
ddd

tmp/*
work/*
bk/*

