*.done
*.summary
*.rpt
*.pof
*.sof
*.bak
*.jpg
*.html
db/*
no-need/*
simulation/modelsim/gate_work/*
simulation/modelsim/rtl_work/*
simulation/modelsim/msim_transcript
simulation/modelsim/vsim.wlf
undo_redo.txt
