*.bak
*.echo
*.qws
*.rpt
hc_output/*
output_files/*
db/*
incremental_db/*
no-need/*
bk/*
simulation/modelsim/gate_work/*
simulation/modelsim/rtl_work/*
simulation/modelsim/*.do.bak*
simulation/modelsim/msim_transcript
simulation/modelsim/*.vho
simulation/modelsim/*.vo
simulation/modelsim/*.mti
simulation/modelsim/*.xrf
simulation/modelsim/*.sdo*
simulation/modelsim/*.sft
simulation/modelsim/*.mif
simulation/modelsim/*.hex
simulation/modelsim/vsim.wlf
simulation/modelsim/work/*
simulation/modelsim/transcript
simulation/modelsim/motones_modelsim.cr.mti
simulation/modelsim/bookmarks.do
undo_redo.txt
*.work
serv_req_info.txt
*_dump.txt
*_auto_stripped.stp
de0_cv_nes_assignment_defaults.qdf
